body {
    font-family: monospace;
    font-size: large;
    background-color: #f0f0f0; /* Light mode background */
    color: #333; /* Light mode text color */
    margin: 0;
    padding: 0;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.dark-mode {
    background-color: #222;
    color: #fff;
}

.button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.dark-mode .button {
    background-color: #fff;
    color: #333;
}

#navbarList {
    position: absolute;
    background-color: #f9f9f9; /* Light mode list background */
    border: 1px solid #ddd;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    display: none;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.navbar-item {
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    border-bottom: none;
    color: #333;
    padding: 12px 16px;
    text-align: left;
    width: 100%;
    text-decoration: none;
  }

#myNavbar ul {
    list-style-type: none;
    }
#myNavbar a {
    text-decoration: none;
}
.navbar-item:hover {
    background-color: #f1f1f1; /* Light mode hover color */
}

.dark-mode .navbar-item {
    color: #fff; /* Dark mode text color */
}

.dark-mode #navbarList {
    background-color: #222; /* Dark mode list background */
}

.dark-mode .navbar-item:hover {
    background-color: #333; /* Dark mode hover color */
}



